<!--
    templateType: page
    label: Home
    isAvailableForNewContent: true
-->


{% extends "./layouts/base.html" %}
{% block body %}


  <div class="o-wrapper">
    {% module "module_167635062284721" path="/Daniel/practicum-theme/modules/heading", label="heading" 
      title="Lorem ipsum dolor " 
      style={
          "textalignment_field": {
             "text_align": "CENTER"
          },
          "spacing_field" : {
                "padding": {
                   "top": {
                    "value": 50,
                    "units": "px"
                   }
           }
        }
      }

    %}
    {% module "module_16762607597702" path="/Daniel/practicum-theme/modules/columns-widget", label="columns-widget" %}
  </div>


{% endblock %}




