{## Table of contents

  1. Variables
    1a. Containers
    1b. Colors
    1c. Typography
    1d. Buttons
    1e. Forms
    1f. Tables
    1g. Website header
    1h. Website footer
  2. Containers / Grid / DND areas
  3. Typography
  4. Buttons
  5. Forms
  6. Tables
  7. Website header
  8. Website footer
  9. Blog
  10. System pages
  11. Modules

##}






    


 
{###########################################################################}
{###########################   8. Website footer   #########################}
{###########################################################################}


.c-header {
    background-color: {{ theme.header_color.color}};
}

.c-header p,
.c-header h1,
.c-header h2,
.c-header h3,
.c-header h4,
.c-header h5,
.c-header h6,
.c-header label,
.c-header span,
.c-header li,
.c-header img,
.c-header a {
    color: {{ theme.header_text_color.color}} !important;
}


.c-footer {
    background-color: {{ theme.footer_color.color}};
}

.c-footer p,
.c-footer h1,
.c-footer h2,
.c-footer h3,
.c-footer h4,
.c-footer h5,
.c-footer h6,
.c-footer label,
.c-footer span,
.c-footer li,
.c-footer img,
.c-footer a {
    color: {{ theme.footer_text_color.color}} !important;
}

