{# nameId custom_id field of setting custom module or default name module filtered #}
{% set nameId = module.settings.custom_id ? module.settings.custom_id : name|regex_replace("[^a-zA-Z0-9]","") %}
{% set mainClass = 'c-column-widget' %}
{% set classCssModule = [mainClass, name, 'practicum-widget'] %}
{% do classCssModule.append(module.settings.custom_class) if module.settings.custom_class %}

{% set classCssModule = classCssModule|join(' ') %}


<div id="{{ nameId }}" class="{{ classCssModule }}">
  <div class="o-band o-band--lg">
    <div class="row-fluid align-center">

      <div class="span6">
        {% if module.image_field.src %}
        {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}"' %}
        {% if module.image_field.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}" style="max-width: 100%; height: auto;"' %}
        {% elif module.image_field.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.image_field.max_width }}" height="{{ module.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
        {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
        <img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
      </div>
      <div class="span6">
        {% inline_rich_text field="richtext_field" value="{{ module.richtext_field }}" %}
      </div>

    </div>
  </div>
</div>
